@import '../lib/fonts';

.navbar {
  width: 100%;
  padding: 28px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 42px;
  font-family: "bluuNext";
  font-weight: 700;
}

nav {
  display: flex;
  gap: 14px;
}

nav a {
  text-decoration: none;
  color: #005A2B;
  border: 1px solid #005A2B;
  padding: 10px 24px;
  border-radius: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  transition: .3s;
}

nav a:hover {
  background: #005A2B;
  color: #ECE8D9;
}


